.container {
  width: 100vw;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  padding: 1rem clamp(16px, 10vh, 2.5rem);
  align-items: center;
  position: absolute;
}

.app_name { 
  font-size: clamp(16px, 10vh, 1.875rem);
  font-weight: 900;
  color: white;
}

@media only screen and (min-width: 980px) {
  .container {
    flex-direction: row;
    padding: 0px clamp(16px, 10vh, 2.5rem);
  }
}