.container { 
  width: 100vw;
  height: 100vh;
}

.ip_container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.ip {
  font-size: clamp(24px, 14vh, 1.5rem);
  color: white;
  font-weight: bold;
}