.container { 
  width: 100vw;
  height: 100vh;
}

.ip_container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.ip {
  font-size: minmax(16px, 2rem);
  font-weight: bold;
}